<div class="halfWidth">
    {{#each objects}}
    <div class="jokeContainer">
            <div class="joke">{{setup}} {{punchline}}</div>
            <div class="info">Submitted by: {{author}}</div>
    </div>
    {{/each}}
</div>
<div class="halfWidth">
    <button id="addJoke">Add new joke</button>
    <a href="other.html">Other sites</a>
</div>