body {
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-column-gap: 10px;
}

.jokeContainer {
    border: 1px solid #525252;;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}

.left {
    padding: 10px;
}

.main {
    padding: 10px;
}

.right {
    padding: 10px;
}

.joke {
    font-family: calibri;
    color: #525252;
}

.info {
    font-family: calibri;
    font-style: italic;
    font-size: 12px;
    color: #525252;
}

.padded {
    margin-top: 10px;
}

.highlighted:hover {
    cursor: pointer;
    color: red;
}